---
import Header from '../components/Header.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import GitHubIcon from '../components/icons/GitHub.astro'
import MailIcon from '../components/icons/Mail.astro'
import Briefcase from '../components/icons/Briefcase.astro'
import CodeIcon from '../components/icons/Code.astro'
import User from '../components/icons/User.astro'
import DownloadIcon from '../components/icons/Download.astro'
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import SobreMi from '../components/SobreMi.astro';
import Educacion from '../components/Educacion.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout 
title="Portfolio de Tomás Bodetto"
description="Contrata a Tomás Bodetto, desarrollador web trainee y futuro Ingeniero en Sistemas de Información"
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-col md:flex-row gap-x-4 pb-6 log:pb-10">
				Tomás Bodetto <a 
					href="https://www.linkedin.com/in/tomasbodetto" 
					target="_blank"
					rel="noopener"
					class="flex  items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span class="opacity-80">
				  <span class="text-yellow-200 font-semibold">Estudiante de Ingeniería en Sistemas de Información, UTN</span>
				</span>
				<span class="block mt-2 opacity-80">Argentina, Buenos Aires.</span>
			  </h2>
			
			  <script is:inline>
				function descargarCV() {
				  const link = document.createElement("a");
				  link.href = "/Curriculum_Tomas_Bodetto.pdf"; // Asegúrate de que el PDF esté en /public
				  link.setAttribute("download", "Curriculum_Tomas_Bodetto.pdf"); // Nombre del archivo
				  document.body.appendChild(link);
				  link.click();
				  document.body.removeChild(link);
				}
			  </script>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/tomasbodetto">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/tomas-bodetto">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill>
					<MailIcon class="size-4 md:size-6" />
					tbodetto@gmail.com
				</SocialPill>
				<SocialPill href="/Curriculum_Tomas_Bodetto.pdf" download="Curriculum_Tomas_Bodetto.pdf" target="_blank" onClick="descargarCV()">
					<DownloadIcon class="size-4 md:size-6" />
					Descargar CV
				</SocialPill>
			</nav>
							
		</SectionContainer>

		<SectionContainer id="sobre-mi" class="scroll-mt-[80px]">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<User class="size-7" />
				Sobre Mí
			</h2>
			<SobreMi/>
		</SectionContainer>

		<SectionContainer id="educacion" class="scroll-mt-[80px]">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<User class="size-7" />
				Educación
			</h2>
			<Educacion/>
		</SectionContainer>
		
		<SectionContainer id="experiencia" class="scroll-mt-[80px]">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="proyectos" class="scroll-mt-[80px]">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos IT
			</h2>
			<Projects/>
		</SectionContainer>
			
		
	</main>
</Layout>
