---
const perfil = {
  descripcion: "Soy un joven de 22 años, actualmente cursando el 4to año de Ingeniería en Sistemas de Información en la UTN, interesado en desarrollar mi potencial en el mundo laboral, en alguna empresa que me permita ganar experiencia, aplicando los conocimientos adquiridos durante mis años de estudio. Soy una persona responsable, con aspiraciones y muchas ganas de superarme y progresar tanto en el aspecto laboral como en el personal.",
  imagen: "/public/tomas.webp", 
};
---

<section class="flex flex-col md:flex-row items-center md:items-start gap-6 p-6 rounded-xl">
  <img 
    src={perfil.imagen} 
    alt="Foto de perfil" 
    class="w-80 h-80 md:w-96 md:h-96  object-cover rounded-2xl" 
  />
  <div class="text-center md:text-left">
    <p class="text-xl text-white-600 mt-2">{perfil.descripcion}</p>
  </div>
</section>
